/* ******COMMONS****** */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #083b4c;
}

.container {
    width: 70%;
    text-align: center;
    margin: auto;
}

h1 {
    font-size: 68px;
    color: white;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box {
    width: 15vh;
    height: 15vh;
    line-height: 15vh;
    font-size: 20px;
    font-weight: bold;
    background-color: #1389b2;
    margin: 10px;
}

.fizz {
    background-color: #0bd6a1;
}

.buzz {
    background-color: #ffd166;
}

.fizzbuzz {
    background-color: #f0466f;
}